.navbar {
    background-color: var(--primary-color);
}

.link:link, .link:link:visited{
    color: white;
}

.link:link:hover {
    background-color: var(--primary-color-hover);
}

.link:link:focus {
    background-color: var(--primary-color-active);
}

.dropdown-link:link,
.dropdown-link:visited {
    color: black;
}

.dropdown-link:link:hover, 
.dropdown-link:link:focus, 
.dropdown-link:link:active {
    background-color: #dadada;
}