.navbar {
    background-color: #192841;
}

.link:link, .link:link:visited{
    color: white;
}

.link:link:hover,
.link:link:focus {
    background-color: #273f66;
}

.dropdown-link:link,
.dropdown-link:visited {
    color: black;
}

.dropdown-link:link:hover, 
.dropdown-link:link:focus, 
.dropdown-link:link:active {
    background-color: #dadada;
}