.navbar {
    background-color: var(--primary-color);
}

.link:link, 
.link:link:visited
.link:link:hover {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    background-color: var(--primary-color-hover);
}

.nav-link:focus {
    background-color: var(--primary-color-active);
}

.dropdown-link:link,
.dropdown-link:visited {
    color: black;
}

.dropdown-link:link:hover, 
.dropdown-link:link:focus, 
.dropdown-link:link:active {
    background-color: #dadada;
}
