.dropdown-link:link,
.dropdown-link:visited {
    color: black;
}

.dropdown-link:link:hover, 
.dropdown-link:link:focus, 
.dropdown-link:link:active {
    background-color: #dadada;
}

.navbar-link:hover {
    color: white;
}
